/* ExploreSlider.module.css */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999; /* Adjust as needed to be above the slider */
  pointer-events: none;
}

.overlay::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Semi-transparent black overlay */
  backdrop-filter: blur(2px); /* Adjust the blur intensity as needed */
}


.slider-container {
  position:fixed;
  top: 0;
  left: 0;
  width: 20%;
  height: 100%;
  background:  #fff;
  display: flex;
  align-items: center;
  justify-content: flex-start; /* Adjust as needed for placement */
  z-index: 1000;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease-in-out;
}

.slider-content {
  background: rgb(1, 135, 135);
 
  width: 100%; /* Adjust as needed for width */
  height: 100%;
  overflow-y: auto;
  opacity: 0;
 
  transform: translateX(-100%);
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.slider-container.open {
  opacity: 1;
  pointer-events: auto;
}

.slider-content.open {
  opacity: 1;
  transform: translateX(0);
}

.overlay.open {
  opacity: 0;
  pointer-events: auto;
}

.blur-background {
  backdrop-filter: blur(5px); /* Adjust the blur intensity as needed */
}

.slick-active .slide-current {
  transform: scale(1);
  transition: filter 0.3s ease;
  

}

.slick-active .slide-blurred {

  filter: blur(5px);
  transform: scale(0.7);
  transition: filter 0.3s ease;




}

.custom {

  transform: scale(0.7);
  transform: scale(1);
  transform: scale(1);
  transition: filter 0.3s ease;
}

@keyframes twinkle {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }

  100% {
    opacity: 0.3;
  }
}

.star {
  width: 3px;
  height: 3px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  animation: twinkle 2s ease-in-out 2 ;
}

@keyframes moveClouds {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

.cloud {
  background-image: url('/cloud.png'); /* Path to your cloud image */
  background-size: contain;
  background-repeat: no-repeat;
  width: 300px; /* Width of your cloud image */
  height: 200px; /* Height of your cloud image */
  position: absolute;
  top: 50px; /* Position your cloud vertically */
  animation: slide 3s linear ;
  z-index: -1;
  animation-delay: 0s;

}

.sun {
  background-image: url('/sun.png'); /* Path to your cloud image */
  background-size: contain;
  background-repeat: no-repeat;
  width: 300px; /* Width of your cloud image */
  height: 200px; /* Height of your cloud image */
  position: absolute;
  top: 50px; /* Position your cloud vertically */
  animation: appear 3s linear ;
  z-index: -1;
  animation-delay: 0s;

}

.moon {
  background-image: url('/moon.png'); /* Path to your cloud image */
  background-size: contain;
  background-repeat: no-repeat;
  width: 300px; /* Width of your cloud image */
  height: 200px; /* Height of your cloud image */
  position: absolute;
  top: 50px; /* Position your cloud vertically */
  animation: appear 4s linear ;
  z-index: -1;
  animation-delay: 0s;

}

@keyframes appear {
  0% {
  
    opacity: 0;
    visibility: visible;
  }

  50% {
    /* Adjust translation as needed */
     opacity: 1;
     visibility: visible;
   }

  100% {
   /* Adjust translation as needed */
    opacity: 0;
    visibility: hidden;
  }
}
@keyframes slide {
  0% {
    transform: translateX(0);
    opacity: 0;
    visibility: visible;
  }

  50% {
    transform: translateX(50%);
    opacity: 1;
    visibility: visible;
  }


  100% {
    transform: translateX(100%); /* Adjust translation as needed */
    opacity: 0;
    visibility: hidden;
  }
}

.paused-animation {
  animation-play-state: paused;
}

.bg-transparent {

  background-color: rgba(255, 255, 255, 1); /* For browsers that support it */

   /* Fallback color */
}
